* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html, body{
     
    height: 100%;
    
}
.page-wrapper{
    height: 100%;
}


.logo img{
 
    display: block;
    width: 100px;
    height: 80px;
   
   
 }
 .title h2{
    color: #0b5592;
    margin: .2rem;
    font-family: 'Nerko One', cursive;
}

 .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#1a1002;
    opacity: 0.8;
    font-family: 'Poppins',sans-serif;


}
.navlinks ul{
     display: flex;
     margin: 0;
     padding: 0;
   

}
.navlinks li a{
    color: rgb(255, 254, 251);
    text-decoration: none ;
    font-size: 14px;
    padding: 14px 16px;
    display: block;
}
.navlinks li{
    list-style: none;

    
    
}
.navlinks li:hover{
    background-color:#1b0202;
}
.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}
.toggle-button .bars{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;


}
@media (max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .navlinks{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    .navlinks ul{
        width: 100%;
        flex-direction: column;


    }
    .navlinks li{
        text-align: center;
    }
    .navlinks li a{
        padding: .5rem 1rem;
    }
    .navlinks.active{
        display: flex;
    }

   
}

body{
	background:url("6498.jpg");
	background-size: cover;
	height: auto;
	font-family: "Roboto", sans-serif;
}

.container{
	width: 750px;
	height: 550px;
	background : #F8F9F9;
	margin: 50px auto ;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 0 0 20px rgba(72,98,85,0,6);
}

.container p{
	text-transform: uppercase;
	text-align : center;
	font-size: 45px;
	margin-bottom: 20px;
	color: #17202A;
	letter-spacing:  1px;
}

.input , .msg , .area {
	width: 100px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 30px;
	border : 3px solid #e9eaea;
	font-size: 15px;
	border-radius: 5px;
	outline: none;
	transition: all 0.5s ease;
}

.login , .input{
	width: 48%;
	float: right;
	margin-right: 4%; 
}

.login , .input : last - child{
	margin-left: 0;	
}

.msg , .area{
	height: 200px;
}

.btn{
	width: 250px;
	background :#3498DB;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 50px;  
}

.input:focus,
.msg .area:focus{
	border: 2px solid #486255;


}
.footer{
    width: 100%;
    background: #012b41;
    display: block;


}
.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    
    
}
.footer-items{
    width:25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer-items h1{
    padding: 10px 0; 
    font-size:25px;
    color: rgb(79, 161, 228);
    font-family: 'Nerko One', cursive;
   

}
.footer-items h2{
    padding: 10px;
    font-size:25px;
    color: rgb(79, 161, 228);
    font-family: 'Archivo', sans-serif;
    
    
   
   

}
.footer-items p{
    text-align: justify;
    font-size:16px;
    color: grey;
    line-height: 25px;
}
.border{
    height: 2px;
    width: 40px;
}

.footer-items ul{
    list-style: none;
    color:#fff;
    font-size:15px;
    letter-spacing: .5px;
}

.footer-items ul a{
   text-decoration: none;
   outline: none;
   color: #fff;
   transition: 0.3s;
}

.footer-items ul a:hover{
   color:#58b6db;
 }
 
.footer-items ul li{
    margin:10px 0;
    height: 25px;

}
.footer-items ul li i{
    margin-right: 20px;

}
.social{
    width:100%;
    color:#fff;
    text-align: center;
    
}
.social a{
    text-decoration: none;
}
.social i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
   


}

.footer-bottom{
     padding: 10px;
     background: #3d455f;
     color: #fff;
     font-size: 12px;
     width: 100%;
     text-align: center;

}

@media (max-width:600px){
    .footer-items{
        width: 50%;
       flex-direction: column;
      
        

        

    }
}